.main-container {
    display: flex;
}


* {
    margin: 0;
    padding: 0;
}



.sec-1 {
    font-family: 'Poppins', sans-serif;
}

.text-main {
    width: 90%;
    margin-left: 100px;
    margin-top: 100px;
}

.text-main h1 {
    font-size: 60px;
    font-weight: 700;
    font-style: bold;
    text-align: justify;
    color: gray;
}



.orange {
    color: orange;
}

.btn {
    margin-top: 40px;
}


.contact-info {
    padding: 15px 40px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    background-color: coral;
    text-decoration: none;
    box-shadow: 8px 8px 120px tomato;
    border-radius: 50px;
}

.sec-2 {
    margin-top: 100px;
    align-items: center;
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container-second {
    display: flex;
}

.boldd {
    font-weight: 900;
    color: gray;
}

.btn #btn-id {
    padding: 15px 40px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    background-color: coral;
    text-decoration: none;
    box-shadow: 8px 8px 120px tomato;
    border-radius: 50px;
}


.sec-3 {
    margin-top: 120px;
    font-family: 'Poppins', sans-serif;
}


.lola {
    color: gray;
}

.sec-5 {
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
    background-color: #00010e;
    text-align: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.footer p {

    margin-bottom: 40px;
}

.footer {
    padding-top: 80px;
    font-size: 30px;
}

.footer h1 {
    font-weight: 900;
}

.footer h3 {
    color: orange;
}

.footer p {
    color: white;
}


.header {
    text-align: center;
    font-size: 30px;
}

.parent {
    display: flex;
}

.child1 {
    box-shadow: 8px 8px 120px gray;
    text-align: center;
    padding: 30px;
    margin: 40px;
    border-radius: 3%;
}

.child1 img {
    width: 50%;
}

.pareent {
    margin-top: 100px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 8px 8px 120px gray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50px;
}

.div1 {
    padding: 30px;
}

.div2 {
    padding: 30px;
}

.div2 {
    padding: 30px;
}

.child2 {
    box-shadow: 8px 8px 120px gray;
    text-align: center;
    padding: 30px;
    margin: 40px;
    border-radius: 3%;
}

.child2 img {
    width: 50%;
}

.female img {
    width: 35%;
    margin-left: 240px;
}

.text-f {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    margin-top: 90px;
}

#text .btn #btn-id:hover {
    background-color: royalblue;
}

.para {
    text-align: justify;
    color: gray;
}

.img img {
    width: 60%;
    margin-left: 100px;
    margin-top: 80px;
}